.preloader img{
    height: 50px;
    width: 50px;
}

.empty {
    display: none;
}

.error {
    margin: 10px 0 0 0;
    height: 50px;
    padding: 10px;
    width: auto;
    background-color: #ff7878;
    border-radius: 20px;
}