
body {
    margin: 0;
    border: 0;
    padding: 0;
}

h1 {
    font-weight: bold;
    color: #fff;
    font-size: 32px;
}

.round {
    border-radius: 100px; /* Радиус скругления */
    border: 3px solid green; /* Параметры рамки */
    box-shadow: 0 0 7px #666; /* Параметры тени */
}
h3 {
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 45px;
    position: relative;
}
h4 {
    font-size: 14px;
    text-align: left;
    position: relative;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999999;
}

#presenting {
    background: url("/imgs/first_fon_1/white_mountines.jpg");
    background-size: cover;
    height: 100vh;
}

.contentPresenting {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    height: 100vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    width: 100%;

}

.Education {
    margin-left: 4mm;
    letter-spacing: 2mm;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    text-transform: capitalize;
}


#skills {
    background: snow;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}

/*todo сделать анимацию спускания белого текста вниз и
   превращения в оранжевый, появление картинки*/

.imgPresenting {
    z-index: -100;
    max-width: 100%;
}

.MyPresentingName {

}

.presenting-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    font-size: 0;
    margin-top: 30px;
}
@media screen and (max-width: 1100px) {
    .presenting-list {
        flex-direction: column;
    }
}

.presenting-item {

    display: block;
    overflow: hidden;
    position: relative;
    text-align: center;

}
@media screen and (max-width: 1100px) {
    .presenting-item:first-child{
        order: 1;
    }
}

.imgmyPresentingFace {
    border: 9px solid whitesmoke; /* Параметры рамки */
    max-width: 70%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -0%);

    position: relative;
}

.MyPresentingName {
    font-size: 44px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 45px;
    position: relative;
    top: 15%;

}


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: azure;
    padding: 1px;
}

.grid-area {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 100px;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 100px;

    text-align: center;
}

.grid-item-odd {
    background-color: rgba(255, 255, 100, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 100px;

    text-align: center;
}

.image_head {
    display: flex;
    justify-content: center;
    align-content: center;

}

section {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nav-list {
    background-color: #1b2024;
    width: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

}

.nav-item {
    list-style: none;
    margin-right: 2rem;

}

.nav-item a {
    text-decoration: none;
    color: #ffffff;
    transition: all 200ms ease-in;
}


.nav-item:first-child {
    margin-right: auto;
    margin-left: 2rem;
}

#nameInNav {
    font-size: 25px;
    color: orange;
    font-weight: bold;
}

html {
    scroll-behavior: smooth;
}


a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 20px 30px;
    font-size: 20px;
}

a:hover {
    color: orange;
}

.header {
    height: 100px;
}


@media screen and (max-width: 978px) {
    h1 {
        font-weight: bold;
        color: #fff;
        font-size: 24px;
    }
}


