
#nameInNav {
    font-size: 25px;
    color: orange;
    font-weight: bold;
    margin: -5px;
    text-align: center;
    padding: 0;
}
nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1b2024;
    width: 100%;
    height: 7%;
    text-align: center;

}
li{
}
html {
    scroll-behavior: smooth;
}

ul {
    list-style: none; /*убираем маркеры списка*/

}
a{
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    color: white;
    text-align: center;
    padding: 20px 30px;
    font-size: 20px;
}
.navLink {
    position: relative;
    left: 45%;


}
a:hover {
    color: orange;
}
li {
    float:left; /*Размещаем список горизонтально для реализации меню*/
}