


.contentPresenting{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    height: 100vh;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;

}

#skills{
    background: snow;
    box-shadow: 0 0 40px rgba(0,0,0,0.5);

}

img {
    z-index: -100;
    max-width:100%;
    width: 1920px;

}
.navContainer{
    z-index: 9999;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: #1b2024;
}


.image_head{
    display: flex;
    justify-content: center;
    align-content: center;

}


section{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

    height: 100vh;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*
.container {
    max-width: 1530px;
    width: 100%;
    margin: auto;
}

.content__container {
    display: grid;
    '''grid-template-columns: repeat(auto-fit, minmax( 290px,1fr));
    '''grid-gap: 20px;
}

.content__about {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.content__slider {
    display: flex;
    flex-direction: column;
}

.content__title {
    font-size: 48px;
    line-height: 1.1;
    margin-bottom: 20px;
}

.content__subtitle {
    font-size: 24px;
}

.content__li {
    font-size: 22px;
    line-height: 1.1;
}

.content__description {
    font-size: 20px;
}*/

#nameInNav {
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-size: 25px;
    color: orange;
    font-weight: bold;
    margin: -5px;
    padding: 0 30px;
    text-align: center;
}
nav {
    display: flex;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1b2024;
    width: 100%;
    text-align: center;

}
li{
}
html {
    scroll-behavior: smooth;
}

ul {
    list-style: none; /*убираем маркеры списка*/

}
a{
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    color: white;
    text-align: center;
    padding: 20px 30px;
    font-size: 20px;
}/*
.navLink {
    position: relative;
    left: 45%;


}*/
a:hover {
    color: orange;
}
li {
    float:left; /*Размещаем список горизонтально для реализации меню*/
}
.header {
    height: 100px;
}

@media screen and (max-width: 978px) {

    .header {
        height: 70px;
    }

    .content {
        padding-top: 30px;
    }

    .content__container {
        grid-row-gap: 20px;
    }

    .content__title {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .content__subtitle {
        font-size: 22px;
        font-weight: 400;
    }

    .content__description {
        font-size: 14px;
        text-decoration: none;
    }
}