
body{
    font-family: 'Montserrat', sans-serif;
}

section{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    height: 100vh;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    max-width: 1530px;
    width: 100%;
    margin: auto;
}

.content__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 290px,1fr));
    grid-gap: 20px;
}
#nameInNav {
    font-size: 25px;
    color: orange;
    font-weight: bold;
    margin: -5px;
    text-align: center;
    padding: 0;
}
nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1b2024;
    width: 100%;
    height: 7%;
    text-align: center;

}
li{
}
html {
    scroll-behavior: smooth;
}

ul {
    list-style: none; /*убираем маркеры списка*/

}
a{
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    color: white;
    text-align: center;
    padding: 20px 30px;
    font-size: 20px;
}
.navLink {
    position: relative;
    left: 45%;


}
a:hover {
    color: orange;
}
li {
    float:left; /*Размещаем список горизонтально для реализации меню*/
}